# Windows why do you do this
Thumbs.db
# OS X you too
.DS_Store

# Ignore non-source directories
__pycache__/
build/
dist/
*.egg-info/
tests/
wiki/

# Ignore Python binaries and other stuff
install_files.txt
*.pyc
*.sublime-project
*.sublime-workspace
/test.py
/install.sh
