# Windows why do you do this
Thumbs.db

# Ignore non-source directories
__pycache__/
build/
dist/
esix.egg-info/

# Ignore Python binaries and other stuff
install_files.txt
*.pyc
*.sublime-project
*.sublime-workspace
/test.py
